# =======================================================
# 🏥 MediJobs Production Backend Configuration
# =======================================================

PORT=5000
NODE_ENV=production

# MongoDB Atlas Database Connection URI
MONGODB_URI=mongodb+srv://muneebrana:ImCH4ypay7GjpG3x@cluster0.kzsebd3.mongodb.net/medijobs?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://muneebrana:ImCH4ypay7GjpG3x@cluster0.kzsebd3.mongodb.net/medijobs?retryWrites=true&w=majority&appName=Cluster0

CLIENT_URL=http://localhost:3000
PRODUCTION_URL=https://your-production-domain.com
